.green{
    background-color: #CCFFCC;
}

.sia { 
   display:none;
}



.start {
    background-color: white;
    color: black;
    text-align:center;
    padding:5px;
    font-size:30px;
    
}

.start a {
    margin-right: 20px;
}


#header{
    text-align:center;
}


h3{
    text-align: center;
    font-size: 250%;
}

.me{
    text-align: center;
}
